body {
  font-family: Montserrat, sans-serif;
}

header {
  background-color: rgb(18, 44, 18);
  color: white;
  padding: 30px;
}

header > nav > ul > li > a {
  color: white;
}

h1 {
  display: inline;
}

nav {
  display: inline-block;
}


body > footer{
    background-color:rgb(18, 44, 18);
}

body > footer > p {
    padding: 16px;
    color: white;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}