body {
  font-family: Montserrat, sans-serif;
}

header {
  background-color: rgb(18, 44, 18);
  color: white;
  
}

header > nav > ul > li > a {
  color: white;
}

h1 {
      display:inline;
  }

nav {
    float: right;
}